@import "./_vars";

.secondary-button {
  background-color: $white;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 200px;
  padding: 13px 90.5px;
  font: $font-secondary-button;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $ui-kit-background;
  }

  &:active {
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  }
}
